.container {
  padding: 30px;
  background: #f6f9fc;
  min-height: 100vh;
}

.header {
  margin-bottom: 25px;
}

.header h1 {
  font-size: 26px;
  font-weight: 700;
}

.header p {
  color: #666;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

/* CARD */
.card {
  background: #fff;
  border-radius: 16px;
  padding: 18px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

/* TOP */
.top {
  display: flex;
  align-items: center;
  gap: 15px;
}

.avatar {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #eee;
}

.dept {
  font-size: 13px;
  color: #888;
}

/* DETAILS */
.details {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 14px;
  color: #444;
}

.details p {
  display: flex;
  align-items: center;
  gap: 6px;
}

/* FOOTER */
.footer {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* STATUS */
.status {
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
  text-transform: capitalize;
}

.completed {
  background: #e6f9f0;
  color: #0c9c5d;
}

.pending {
  background: #fff4e5;
  color: #ff9800;
}

.cancelled {
  background: #ffe6e6;
  color: #e53935;
}

/* BUTTON */
.btn {
  border: none;
  background: #4f46e5;
  color: #fff;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.btn:hover {
  background: #4338ca;
}

/* LOADER */
.loader {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.spinner {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}


.noData {
  text-align: center;
  grid-column: 1/-1;
  font-size: 18px;
  color: #796666;
}